
body {
    margin: 25px 15px 20px 15px;
}

.box {
    border-radius: 5px;
    background-color: #a3c2c2;
}

/* css for mainview */
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25vw 36vw 36vw;
    grid-template-rows: repeat(8, 100px);
}

.header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    padding: 10px;
}

.companies {
    grid-column: 1 / span 1;
    grid-row: 2 / span 6;
}

.companyinfo {
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
}

.stockdata {
    grid-column: 3 / span 1;
    grid-row: 2 / span 5;
}

.map {
    grid-column: 2 / span 1;
    grid-row: 5 / span 3;
}

.stockcalcs {
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
}

/* css for secondary view */

.second {
    display: none;
}

.charts {
    grid-column: 1 / span 2;
    grid-row: 2 / span 6;
}

.description {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
}

.financials {
    grid-column: 3 / span 1;
    grid-row: 4 / span 4;
}