
/* general css */

body { margin: 10px 10px 10px 10px; }

.box {
    border-radius: 2px;
    background-color: #a3c2c2;
}

.title {
    font-size: 2em;
    text-align: center;
    position: relative;
    bottom: 20px;
}

i, header h1 { display: inline-block; }

i { padding: 20px; }

li { list-style-position: inside; }

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 19vw 39.5vw 38.5vw;
    grid-template-rows: 100px 125px 125px 125px 125px 125px 125px 125px;
}

.header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
}

/* css for mainview */

.companies {
    grid-column: 1 / span 1;
    grid-row: 2 / span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inline {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
}

legend {
    font-size: 1.5em;
    padding-right: 15px;
}

#filter { width: 75%; }

.button {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 15px 30px;
    text-align: center;
    font-size: 15px;
    margin-left: 45px;
    margin-right: 45px;
}

.button:hover{
  background-color: turquoise;
  transform: scale(1.2); 
}

#companylist {
    height: 612px;
    width: 89%;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 0px;
    display: none;
}

#companylist li { 
  font-size: 1.4em; 
  list-style: none;
}

.companyinfo {
  grid-column: 2 / span 1;
  grid-row: 2 / span 3;
}

.name-logo{
  width: 97%;
  margin: 0 auto;
  display: none;
  align-items: center;
  flex-direction: row;
  background-color: white;
  position: relative;
  bottom: 20px;
}

.logo{
  width: 165px;
  height: 60px;
}

.comp-name{
  width: 50%;
  font-size: 20px;
  text-align: center;
}

.comp-name h1{
  font-size: 0.9em;
}

.symbol{
  width: 10%;
  background-color: lightyellow;
  text-align: center;
  border-radius: 50%;
  border: 2px solid  #5cb85c;
  position: relative;
  left: 110px;
}

.company-symbol{
  font-size: 1.1em;
  font-weight: bolder;
}

.other-details{
  width: 97%;
  height: 255px;
  margin: 30px auto;
  background-color: white;
  display: none;
  flex-direction: column;
  position: relative;
  bottom: 40px;
}

.other-details table tr th{
  color: teal;
  font-weight: bolder;
}

#table-data{
  font-size: 0.7em;
}

.comp-description{
  width: 95%;
  margin: 20px auto;
}

.comp-description h1{
  font-size: 1.5em;
  padding-left: 30%;
  color: teal;
  font-weight: bolder;
}

.description {
  font-size: 1em;
}

.stockdata {
    grid-column: 3 / span 1;
    grid-row: 2 / span 5;
}

#stocktable {
  display: none;
  overflow: hidden;
  overflow-y: scroll;
  height: 585px;
}

#stock-headers th {
  font-size: 25px;
  position: sticky;
  background-color: #a3c2c2;
  border-bottom: 2px black solid;
  top: 0;
}

.data  {
  text-align: center;
  position: relative;
}

.data, .calculations {
  border-collapse: collapse;
}

.data td {
  font-size: 18px;
}

.map {
    grid-column: 2 / span 1;
    grid-row: 5 / span 3;
}

#location {
    height: 350px;
    position: relative;
    bottom: 35px;
    display: none;
}

.stockcalcs {
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
}

.stockcalcs p {
  font-size: 1.2em;
  position: relative;
  left: 10px;
}

.data tbody tr td {
  border-bottom: 1px black solid;
}

.calculations td{
  font-size: 1.1em;
  text-align: center;
  padding-left: 20px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 10px;
  border-bottom: 1px black solid;
}

table thead th:hover, li:hover {
    color: blue;
    cursor: pointer;
}

/* css for secondary view */

.second { display: none; }

.charts {
    grid-column: 1 / span 2;
    grid-row: 2 / span 6;
}

.description {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
}

.financials {
    grid-column: 3 / span 1;
    grid-row: 4 / span 4;
}

/* this section include all code borrowed or inspired by findings on the internet */

/* loading animation css taken from https://loading.io/css/ */
  .lds-roller {
    display: inline-block;
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .roller2 {
  display: none;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/* inspired https://www.w3schools.com/howto/howto_css_modals.asp with personal changes */
.credits {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.credits-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Modal Header */
.credits-header {
  padding: 2px 16px;
  text-align: center;
  font-size: 18px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.credits-body {
  padding: 2px 16px;
  text-align: center;
}
